table {
    font-family: Sans-Serif;
    font-size: 25px;
    text-align: center;
    border: 1px solid #69c;
    border-collapse: separate;
    empty-cells: hide;
}

body{
    background-image: url(https://i.artfile.ru/1920x1080_996610_[www.ArtFile.ru].jpg);
}

#but{
    width: 430px;
    height: 50px;
    background-color: #6699cc;
    margin-left: 200px;
}



#box {}
#left { float: left; margin-left: 200px }
#right { float: right; margin-right: 200px }



th, td {
    border: 2px solid #69c;
    background-color: blue;
    color: blue;
}
td{
    width: 35px;
    height: 35px;
}

.grayy {
    background-color: gray;
    color: gray;
}

.redy {
    background-color: red;
    color: red;
}


.greeny {
    background-color: green;
    color: green;
}