<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body background="a.jpg" >
<div class="all">
    <div class="body_text">
        <div class="title">
            <h1 align="center">Морской бой</h1>
        </div>

        <div class="title">
            <h3 align="center">
                «Морской бой» — игра для двух участников, в которой игроки по очереди называют координаты на неизвестной им карте соперника. Если у соперника по этим координатам имеется корабль (координаты заняты), то корабль или его часть «топится», а попавший получает право сделать ещё один ход. Цель игрока — первым потопить все корабли противника.

            </h3>
        </div>

    </div>

    <div align="center">
        <form action="/auth/login"><button>Войти</button></form>
        <form action="/registration"><button>Зарегистрироваться</button></form>
    </div>
</div>
</body>
</html>