<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>
<div style="text-align: center; font-size: 300%; font-weight: bold; color: white; background-color: red;">ГЛАВНОЕ МЕНЮ</div>
<div class = "butt">
    <button id = "start_game" class="button" style="vertical-align:middle" onclick="search()" ><span>Играть</span></button>
</div>

<div class = "gamers" id = 'search'>Игроков: 0/2</div>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>