<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>

<div>
<!--  Левая менюшка, переходы на другие страницы-->
</div>
<div>
<!-- Здесь будет фото в зависимости от ранга   -->
</div>
<div>
    <h2 id="rang"></h2>
    <h3>Очки</h3>

    <h1>Статистика</h1>
    <p>Боёв:</p>
    <p>Побед:</p>
    <p>Серия побед:</p>
</div>
<form action="/auth/logout" method="POST">
    <button type="submit">Выйти</button>
</form>
</body>
<script type="text/javascript" src="js/profile.js"></script>
</html>